# Configuration Serveur
NODE_ENV=development
PORT=5000
CORS_ORIGIN=http://localhost:5173

# Configuration MongoDB (URI Atlas ou BD distante)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/baticlean?retryWrites=true&w=majority

# Configuration Sécurité JWT (Minimum 32 caractères pour la production)
JWT_SECRET=votre_secret_jwt_ultra_securise_32_caracteres_min
JWT_REFRESH_SECRET=votre_secret_jwt_refresh_ultra_securise_32_caracteres_min
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Configuration Cloudinary (Stockage permanent des images/vidéos)
CLOUDINARY_CLOUD_NAME=votre_cloud_name_cloudinary
CLOUDINARY_API_KEY=votre_api_key_cloudinary
CLOUDINARY_API_SECRET=votre_api_secret_cloudinary

# Configuration Brevo (Emails Transactionnels)
BREVO_API_KEY=votre_cle_api_brevo
SENDER_EMAIL=baticlean225@gmail.com
SENDER_NAME=Baticlean Official
ADMIN_NOTIFICATION_EMAIL=baticlean225@gmail.com
